@{
    ViewData["Title"] = "Home Page";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Language</h3>
        <a href="/Language/CreateOrEdit" class="btn btn-primary">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody>
               <tr>
                   <td]>
                       <a class="btn btn-primary">Language</a>
                   </td>
                   <td]>
                       <a class="btn btn-primary">Edit</a>
                   </td>
               </tr>
            </tbody>
        </table>
    </div>
</div>